@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --bg-color: #03170e;
  --primary-color: #9becf3;
  --secondary-color: #071f40;
  --accent-color: #2d7ae6;
  --text-color: #edfdf6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  min-height: 100vh;
  color: var(--text-color);
}


.link{
  @apply text-white focus:text-emerald-400;
}

.link.active{
  @apply font-bold text-emerald-400 text-lg;
}

.card{
  @apply flex gap-4 w-[60vw] min-w-[700px] rounded-md overflow-hidden;
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
}

.item{
  @apply w-[250px] h-[350px] rounded-md overflow-hidden shadow-red-500/50;
  background: rgba(255, 255, 255, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
}

.gradient-text{
  @apply mb-5 text-4xl font-bold px-12 lg:px-[5rem] text-center;
  background-image: linear-gradient(to right, #e2afff, #5a189a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-description{
  font-family: 'Satisfy', cursive;
  font-size: 1.5rem;
  color: #5465ff;
  margin-bottom: 3rem;
  text-shadow: 0px -3px 5px rgba(black,0.5);
}